# Virtual Environment
.venv/
venv/
ENV/

# Node Dependencies & Build Output
node_modules/
dist/

# Python Caches & Build Artifacts
__pycache__/
*.pyc
.pytest_cache/
temp_wheels/
*.egg-info/

# IDE Settings
.vscode/
.idea/

# User Personal Photos & Temporary Media
roshmik.*
*.jpg
*.jpeg
*.png

# Security Credentials
.env